credentials
**/.aws-sam
**/gather/**
debug.py
old-lambdas
.last.yml
deploy/*
!deploy/.keep
plots/*
!plots/.keep
# files for purging AWS MQ
mq-brokers.config
mq-purge.cmd
spring-shell.log
activemq-cli.log